# Python
__pycache__/ 
*.pyc 
*.pyo 
*.pyd 
__pypackages__/ 
build/ 
dist/ 
ggs/ 
.eggs/ 
lib64/ 
sdist/

# Ignore finder files
.DS_store
Thumbs.db

# Ignore folders
data/
venv/
legacy/

# Cursor docs
.cursor/rules/
.cursorignore
PLANNING.md
TASK.md
.cursor/rules/documentation-rules.mdc
.cursor/rules/general-project-rules.mdc
.cursor/rules/project-structure-documentation.mdc
.cursor/rules/system-rules.mdc
.cursor/rules/tech-stack.mdc

